Repository Maksonik/S3_file_management: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, check-json, end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

.pre-commit-config.yaml:

default_install_hook_types: [ pre-commit ]
default_stages: [ pre-commit, manual ]
repos:
  - repo: local
    hooks:
      - id: check-toml
        name: check-toml
        entry: check-toml
        types_or: [toml]
        language: python
      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        types_or: [yaml]
        language: python
        exclude: ".gitlab-ci.yml"
      - id: check-json
        name: check-json
        entry: check-json
        types_or: [json]
        language: python
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: python
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        types_or: [toml, yaml, json, python, c]
        language: python
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        types_or: [toml, yaml, json, python, c]
        language: python
      - id: ruff-format
        name: ruff-format
        entry: ruff
        args:
          - format
          - --config=ruff-format.toml
        types_or: [python]
        language: python
      - id: ruff
        name: ruff
        entry: ruff
        args:
          - check
          - --fix
          - --exit-non-zero-on-fix
        types_or: [python]
        language: system

create AWS service
  env.template
  sfm/apps/files/__init__.py
  sfm/apps/files/shemas/__init__.py
  sfm/apps/files/shemas/files.py
  sfm/apps/files/views/__init__.py
  sfm/apps/files/views/files.py
  sfm/apps/files/views/router.py
  sfm/apps/internal/views/router.py
  sfm/core/integrations/__init__.py
  sfm/core/integrations/s3/__init__.py
  sfm/core/integrations/s3/aws/__init__.py
  sfm/core/integrations/s3/aws/di.py
  sfm/core/integrations/s3/aws/schemas.py
  sfm/core/integrations/s3/aws/services.py
  sfm/core/integrations/s3/base_service.py
  sfm/core/routers.py
  sfm/core/settings.py
  tests/__init__.py
  tests/apps/__init__.py
Due: end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

install pytest
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/pytest.env
Due: check-toml, end-of-file-fixer, trailing-whitespace-fixer

create tests
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/apps/files/__init__.py
  tests/apps/internal/__init__.py
  tests/apps/internal/test_views.py
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/app.py
  tests/fixtures/configs.py
Due: check-toml, end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

create full CRUD for task
  env.template
  poetry.lock
  pyproject.toml
  sfm/apps/files/views/files.py
  sfm/core/integrations/s3/aws/services.py
  sfm/core/integrations/s3/base_service.py
  sfm/core/settings.py
Due: check-toml, end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

create docs for endpoints param
  sfm/apps/files/views/files.py
Due: end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

create docs for class
  sfm/apps/files/shemas/__init__.py
  sfm/apps/files/shemas/files.py
  sfm/apps/files/views/files.py
  sfm/core/integrations/s3/aws/services.py
  sfm/core/integrations/s3/base_service.py
  sfm/core/settings.py
Due: end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

create docs for class
  sfm/core/integrations/s3/aws/schemas.py
  sfm/core/integrations/s3/schemas.py
Due: end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

Add cache
  sfm/core/integrations/s3/aws/services.py
  sfm/core/utils/__init__.py
  sfm/core/utils/async_cache.py
Due: end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

Add limiter
  sfm/apps/files/views/router.py
  sfm/core/constants.py
  sfm/core/permission/__init__.py
  sfm/core/permission/rate_limiter.py
Due: end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

Create schemas for response
  sfm/apps/files/views/files.py
  sfm/apps/files/views/router.py
  sfm/core/constants.py
  sfm/core/integrations/s3/aws/services.py
  sfm/core/integrations/s3/base_service.py
  sfm/core/integrations/s3/schemas.py
  sfm/core/permissions/__init__.py
  sfm/core/permissions/rate_limiter.py
Due: end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

Fix names
  sfm/apps/files/views/files.py
  sfm/core/integrations/s3/aws/services.py
  sfm/core/integrations/s3/base_service.py
  sfm/core/integrations/s3/schemas.py
Due: end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

create test for service
  .coveragerc
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  pytest.ini
  sfm/core/integrations/s3/aws/services.py
  sfm/core/settings.py
  tests/conftest.py
  tests/core/__init__.py
  tests/core/integrations/__init__.py
  tests/core/integrations/s3/__init__.py
  tests/core/integrations/s3/aws/__init__.py
  tests/core/integrations/s3/aws/cassettes/test_delete_file.yaml
  tests/core/integrations/s3/aws/cassettes/test_get_list_files.yaml
  tests/core/integrations/s3/aws/cassettes/test_upload_file.yaml
  tests/core/integrations/s3/aws/fixtures.py
  tests/core/integrations/s3/aws/test_services.py
  tests/core/utils/__init__.py
  tests/core/utils/test_cache.py
  tests/fixtures/configs.py
  tests/pytest.env
  tests/test_utils/__init__.py
  tests/test_utils/any.py
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

create test for views
  tests/apps/files/cassettes/test_delete_file_view.yaml
  tests/apps/files/cassettes/test_get_files_view.yaml
  tests/apps/files/cassettes/test_upload_file_view.yaml
  tests/apps/files/test_views.py
  tests/conftest.py
  tests/constants.py
  tests/core/integrations/s3/aws/test_services.py
  tests/fixtures/configs.py
  tests/fixtures/service.py
  tests/pytest.env
Due: check-yaml, end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

fix names
  tests/pytest.env
Due: none

add tests
  sfm/core/integrations/s3/aws/services.py
  sfm/core/utils/async_cache.py
  tests/apps/internal/cassettes/test_get_healthcheck.yaml
  tests/conftest.py
  tests/core/integrations/s3/aws/cassettes/test_delete_file.yaml
  tests/core/integrations/s3/aws/cassettes/test_get_list_files.yaml
  tests/core/integrations/s3/aws/cassettes/test_get_list_files_max_keys.yaml
  tests/core/integrations/s3/aws/cassettes/test_get_list_files_recursive.yaml
  tests/core/integrations/s3/aws/cassettes/test_upload_file.yaml
  tests/core/integrations/s3/aws/test_services.py
  tests/fixtures/service.py
Due: check-yaml, end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

test commit
  README.md
Due: none

add logging
  sfm/core/integrations/s3/aws/services.py
  sfm/core/logger.py
  sfm/core/permissions/rate_limiter.py
Due: end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

Create Dockerfile
  Dockerfile
Due: none

Create monitoring
  README.md
  poetry.lock
  pyproject.toml
  sfm/core/__init__.py
  sfm/core/integrations/s3/aws/services.py
  sfm/core/integrations/s3/base_service.py
  sfm/core/main.py
  sfm/core/metrics.py
  sfm/core/mixins/__init__.py
  sfm/core/mixins/metrics.py
  sfm/core/permissions/rate_limiter.py
Due: check-toml, end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff

Create README.md
  README.md
Due: none

add uvicorn and guvicorn
  Dockerfile
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace-fixer

import gitlab
  .gitlab-ci.yml
  Dockerfile
  sfm/core/mixins/metrics.py
  tests/apps/files/test_views.py
  tests/apps/internal/test_views.py
  tests/core/integrations/s3/aws/test_services.py
Due: end-of-file-fixer, trailing-whitespace-fixer, ruff-format, ruff
